:root {
    --color-primario : red;
    --fuente-principal: 'Courier New', Courier, monospace;
    --tamaño-principal: 5rem;


}

h1 {
    background-color: var(--color-primario);
    font-family: var(--fuente-principal);
    font-size: var(--tamaño-principal);
    text-align: center;
}